* {
    font-family: sans-serif;
    background-color: #E9F8FF;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
}

button {
    border-style: none;
}

.bg-button {
    border-style: none;
}

.bg-button:hover {
    background-color: #89B2C4;
}

.bg-button:active {
    background-color: #6F8F9E;
}

.jogoPrincipal {
    border-radius: 15px;
    border-style: solid;
    border-color: #2B373D;
    background-color: #FFE0BA;
}

/*-------------------------------COMO JOGAR---------------------------------*/

.comoJogar {
    border-radius: 15px;
    border-style: solid;
    border-color: #2B373D;
    margin: 2% 10% 2% 10%;
    padding: 2%;
}

.iconeJogada {
    width: 90%;
    padding: 20px;
    background-color: #FFE0BA;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
}

.iconeExplica {
    padding: 1%;
    border-radius: 15px;
    border-style: solid;
    border-color: #2B373D;
    margin: 10px 50px 10px 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.bg-comoJogar {
    background-color: #FFE0BA;
}


/*-------------------------------FOOTER---------------------------------*/

.footer {
    background-color: #2B373D;
    color: #E9F8FF;
    padding: 2% 10% 2% 10%;
    margin-top: 50px;
}